.App {
  text-align: center;
  font-family: sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
